<!-- src/app/profile/profile.component.html -->
<div class="profile-container">
    <h1>User Profile</h1>
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar"></div>
        <mat-card-title>Shubham Patil</mat-card-title>
        <mat-card-subtitle>Software Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Email:</strong> Shubhampatil6463@gmail.com</p>
        <p><strong>Location:</strong> Pune,Maharashtra</p>
        <p><strong>Bio:</strong> Passionate about building scalable web applications.</p>
      </mat-card-content>
    </mat-card>
  </div>