.dashboard-container {
  padding: 20px;
  height: calc(100vh - 40px); 
  overflow: auto; 
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
  text-align: center;
  background-color: #f5f5f5; 
  transition: transform 0.3s; 
}

.card:hover {
  transform: translateY(-5px); 
}